<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div class="allproduct">
        <div class="filter"></div>
        <div class="productlist">
            <div class="productlist">
                <a class="product_item">
                   
                    <div class="product_background">
                        <img src="../../IMG/DenonDJ-img-SC5000MTopIntro.jpg" alt="">
                    </div>
                    <div class="product_details">
                        <div class="product_color"></div>
                        <h3>Denon DJ Player</h3>
                        <p>Professional Motorized Dual-layer DJ Media Player with 7” Touchscreen</p>
                        <button class="addcart">Add to cart</button>
                    </div>
                    
                </a>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="./index.js"></script>
</body>
</html>