<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../footer/index.css">
</head>
<body>
    <div class="footer">
        
        <div class="footerNav">
            
            <a class="footerLogo" href=""><img class="footer-logo" src="../../IMG/Vaquaria.png" alt=""></a>
            
            <div class="footerNav-content">
                <div class="footerNav-content-1">
                    <p class="footerNav-title"><a href=""></a>Sản Phẩm</p>
                    <div class="footerNav-menu">
                        <ul class="footerNav-list">
                            <li class="footerNav-item">DJ Players</li>
                            <li class="footerNav-item">DJ Mixers</li>
                            <li class="footerNav-item">DJ Controllers</li>
                            <li class="footerNav-item">Turntables</li>
                            <li class="footerNav-item">All in one Dj systems</li>
                            <li class="footerNav-item">Headphones</li>
                            <li class="footerNav-item">Monitor Speakers</li>
                            <li class="footerNav-item">DJ Software & Interfaces</li>
                            <li class="footerNav-item">Accessories</li>
                        </ul>
                    </div>
                </div>
                <div class="footerNav-content-2">
                    <p class="footerNav-title"><a href=""></a>Hỗ Trợ</p>
                    <div class="footerNav-menu">
                        <ul class="footerNav-list">
                            <li class="footerNav-item">Contact</li>
                            <li class="footerNav-item">Manuals</li>
                            <li class="footerNav-item">Software & Firmware</li>
                            <li class="footerNav-item">FAQ</li>
                            
                        </ul>
                    </div>
                </div>
                <div class="footerNav-content-2">
                    <p class="footerNav-title"><a href=""></a>Tin Tức</p>
                    <p class="footerNav-title"><a href=""></a>Liên Hệ</p>
                </div>
            </div>
            
            
        </div>
        <hr>
        <div class="footer-social">
            <ul class="social-list">
                <li class="social-item"><i class="fab fa-instagram fa-2x"></i></li>
                <li class="social-item"><i class="fab fa-soundcloud fa-2x"></i></li>
                <li class="social-item"><i class="fab fa-youtube-square fa-2x"></i></li>
                <li class="social-item"><i class="fab fa-facebook-square fa-2x"></i></li>
                <li class="social-item"><i class="fab fa-twitter-square fa-2x"></i></li>
            </ul>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="./index.js"></script>
</body>
</html>